In [1]:
"""import packages you need"""
import numpy as np
import pandas as pd
import math

In [8]:
area = 0

In [15]:
"""After remeasuring width"""

xls_param1 = pd.ExcelFile('RawData/two_widths/ML2 (004).xlsx')
df_param1sh1 = pd.read_excel(xls_param1, 'Sheet1')
print(df_param1sh1.keys())
df_param1sh1.dropna(how='any', axis=0, inplace =True)
df_param1sh1 = df_param1sh1.reset_index(drop=True)

# # # ##############
Depth_param1sh1 = df_param1sh1.iloc[:,5]

Top_Width_param1sh1 = df_param1sh1.iloc[:,6]
Bot_Width_param1sh1 = df_param1sh1.iloc[:,8]

crossArea_param1sh1 = Depth_param1sh1 * (Top_Width_param1sh1 + Bot_Width_param1sh1)/2

# # ###############
# triangle_param1sh1 = np.ones([Depth_param1sh1.shape[0]])

# for i in range(Depth_param1sh1.shape[0]):
#     if Bot_Width_param1sh1[i] > 0:
#         triangle_param1sh1[i] = 0
   

# # ###############
# ratio_param1sh1= np.zeros([Depth_param1sh1.shape[0]])
# for i in range(Depth_param1sh1.shape[0]):
#     if Depth_param1sh1[i] == 0:
#         ratio_param1sh1[i] = 0
#     else :
#         ratio_param1sh1[i] = (Top_Width_param1sh1[i] - Bot_Width_param1sh1[i])/(2*Depth_param1sh1[i])

# Ang_param1sh1 = []

# for i in range(len(ratio_param1sh1)):
#     Ang_param1sh1.append(round(math.degrees(2 * np.arctan(ratio_param1sh1[i])),2))

# # ###############

if area == 1 :
    DATA_param1sh1 = np.c_[df_param1sh1.iloc[:,3], df_param1sh1.iloc[:,1], 
                           df_param1sh1.iloc[:,0], df_param1sh1.iloc[:,2],\
                           df_param1sh1.iloc[:,4], df_param1sh1.iloc[:,5], 
                           crossArea_param1sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else: 
    DATA_param1sh1 = np.c_[df_param1sh1.iloc[:,3], df_param1sh1.iloc[:,1],
                           df_param1sh1.iloc[:,0], df_param1sh1.iloc[:,2], 
                           df_param1sh1.iloc[:,4], df_param1sh1.iloc[:,5],
                           Top_Width_param1sh1, Bot_Width_param1sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']

dataframe_param1sh1 = pd.DataFrame(DATA_param1sh1, columns = column_names)

# # # ################################---------------------------------------
df_param1sh2 = pd.read_excel(xls_param1, 'Sheet2')
print(df_param1sh2.keys())
df_param1sh2.dropna(how='any', axis=0, inplace =True)
df_param1sh2 = df_param1sh2.reset_index(drop=True)

Depth_param1sh2 = df_param1sh2.iloc[:,5]
Top_Width_param1sh2 = df_param1sh2.iloc[:,6]
Bot_Width_param1sh2 = df_param1sh2.iloc[:,8]

crossArea_param1sh2 = Depth_param1sh2 * (Top_Width_param1sh2 + Bot_Width_param1sh2)/2

# triangle_param1sh2 = np.ones([Depth_param1sh2.shape[0]])
# for i in range(Depth_param1sh2.shape[0]):
#     if But_Width_param1sh2[i] > 0:
#         triangle_param1sh2[i] = 0

# ratio_param1sh2= np.zeros([Depth_param1sh2.shape[0]])
# for i in range(Depth_param1sh2.shape[0]):
#     if Depth_param1sh2[i] == 0:
#         ratio_param1sh2[i] = 0
#     else :
#         ratio_param1sh2[i] = (Top_Width_param1sh2[i]-Bot_Width_param1sh2[i])/(2*Depth_param1sh2[i])


# Ang_param1sh2 = []
# for i in range(len(ratio_param1sh2)):
#     Ang_param1sh2.append(round(math.degrees(2 * np.arctan(ratio_param1sh2[i])),2))
    

if area == 1 :
    DATA_param1sh2 = np.c_[df_param1sh2.iloc[:,3], df_param1sh2.iloc[:,1],
                           df_param1sh2.iloc[:,0], df_param1sh2.iloc[:,2], 
                           df_param1sh2.iloc[:,4], df_param1sh2.iloc[:,5],
                           crossArea_param1sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else: 
    DATA_param1sh2 = np.c_[df_param1sh2.iloc[:,3], df_param1sh2.iloc[:,1],
                           df_param1sh2.iloc[:,0], df_param1sh2.iloc[:,2],\
                           df_param1sh2.iloc[:,4], df_param1sh2.iloc[:,5], 
                           Top_Width_param1sh2, Bot_Width_param1sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width','Bot_width']
    
dataframe_param1sh2 = pd.DataFrame(DATA_param1sh2, columns = column_names)
########## saving data
dataframe_param1 = pd.concat([dataframe_param1sh1, dataframe_param1sh2],\
                    axis = 0, ignore_index = True)
if area == 1 :
    dataframe_param1.to_csv(r'RawData/two_widths/Param1_cross_area.csv', header=True, index = False)
else:
    dataframe_param1.to_csv(r'RawData/two_widths/Param1_2width.csv', header=True, index = False)


dataframe_param1

Index(['amplitude (mm)', 'speed (mm/s)', 'pass', 'frequqncy (Hz)',
       'Focal_Position', 'cut depth (micro m)', 'cut width (micro m)', 'angle',
       'U-width'],
      dtype='object')
Index(['amplitude (mm)', 'speed (mm/s)', 'pass', 'frequqncy (Hz)',
       'Focal_Position', 'cut depth (micro m)', 'cut width (micro m)', 'Angle',
       'U-width'],
      dtype='object')

,Frequency,Speed,Amplitude,Passes,Focal_Position,Depth,Top_width,Bot_width
0,800.0,20.0,0.1,10.0,93.2,171.70,325.60,27.40
1,1600.0,40.0,0.1,10.0,93.2,183.31,123.05,0.00
2,800.0,20.0,0.2,10.0,93.2,346.19,213.17,0.00
3,1200.0,30.0,0.2,10.0,93.2,303.03,210.89,0.00
4,1600.0,40.0,0.2,10.0,93.2,272.44,207.52,0.00
5,1200.0,30.0,0.3,10.0,93.2,308.27,299.96,29.87
6,1600.0,40.0,0.3,10.0,93.2,245.26,300.51,77.34
7,800.0,20.0,0.4,10.0,93.2,338.83,393.32,120.51
8,1200.0,30.0,0.4,10.0,93.2,247.34,398.07,181.66
9,1600.0,40.0,0.4,10.0,93.2,201.42,395.59,204.30
10,800.0,20.0,0.5,10.0,93.2,304.66,493.29,258.73
11,1200.0,30.0,0.5,10.0,93.2,224.43,500.37,307.83
12,1600.0,40.0,0.5,10.0,93.2,173.95,493.01,332.52
13,800.0,20.0,0.1,20.0,93.2,67.55,278.10,36.18
14,1600.0,40.0,0.1,20.0,93.2,245.67,117.04,0.00
15,800.0,20.0,0.2,20.0,93.2,423.24,219.80,0.00
16,1200.0,30.0,0.2,20.0,93.2,367.66,216.20,0.00
17,1600.0,40.0,0.2,20.0,93.2,306.55,219.64,0.00
18,800.0,20.0,0.3,20.0,93.2,461.30,309.83,0.00
19,1200.0,30.0,0.3,20.0,93.2,401.07,313.15,0.00
20,1600.0,40.0,0.3,20.0,93.2,360.50,307.06,0.00
21,800.0,20.0,0.4,20.0,93.2,517.73,408.10,0.00
22,800.0,20.0,0.5,20.0,93.2,485.07,504.20,61.99
23,1200.0,30.0,0.5,20.0,93.2,336.52,502.17,194.28
24,1600.0,40.0,0.5,20.0,93.2,325.22,500.29,169.01

In [11]:
"""After remeasuring width"""

xls_param2 = pd.ExcelFile('RawData/two_widths/ML3.2 (003).xlsx')
df_param2sh1 = pd.read_excel(xls_param2, 'Sheet1')
print(df_param2sh1.keys())
df_param2sh1.dropna(how='any', axis=0, inplace =True)
df_param2sh1 = df_param2sh1.reset_index(drop=True)

# # ##############
Depth_param2sh1 = df_param2sh1.iloc[:,5]

Top_Width_param2sh1 = df_param2sh1.iloc[:,6]
Bot_Width_param2sh1 = df_param2sh1.iloc[:,8]

crossArea_param2sh1 = Depth_param2sh1 * (Top_Width_param2sh1 + Bot_Width_param2sh1)/2

# triangle_param2sh1 = np.ones([Depth_param2sh1.shape[0]])
# for i in range(Depth_param2sh1.shape[0]):
#     if But_Width_param2sh1[i] > 0:
#         triangle_param2sh1[i] = 0


# ratio_param2sh1= np.zeros([Depth_param2sh1.shape[0]])

# for i in range(Depth_param2sh1.shape[0]):
#     if Depth_param2sh1[i] == 0:
#         ratio_param2sh1[i] = 0
#     else :
#         ratio_param2sh1[i] = (Top_Width_param2sh1[i]-Bot_Width_param2sh1[i])/(2*Depth_param2sh1[i])

# # # ###############

# Ang_param2sh1 = []

# for i in range(len(ratio_param2sh1)):
#     Ang_param2sh1.append(round(math.degrees(2*np.arctan(ratio_param2sh1[i])),2))

# ###############

if area == 1 :
    DATA_param2sh1 = np.c_[df_param2sh1.iloc[:,3], df_param2sh1.iloc[:,1], 
                           df_param2sh1.iloc[:,0], df_param2sh1.iloc[:,2],\
                           df_param2sh1.iloc[:,4], df_param2sh1.iloc[:,5], 
                           crossArea_param2sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else: 
    DATA_param2sh1 = np.c_[df_param2sh1.iloc[:,3], df_param2sh1.iloc[:,1],
                           df_param2sh1.iloc[:,0], df_param2sh1.iloc[:,2], 
                           df_param2sh1.iloc[:,4], df_param2sh1.iloc[:,5],
                           Top_Width_param2sh1 , Bot_Width_param2sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']

dataframe_param2sh1 = pd.DataFrame(DATA_param2sh1, columns = column_names)
# dataframe_param2sh1
# ################################---------------------------------------
df_param2sh2 = pd.read_excel(xls_param2, 'Sheet2')
print(df_param2sh2.keys())
df_param2sh2.dropna(how='any', axis=0, inplace =True)
df_param2sh2 = df_param2sh2.reset_index(drop=True)

Depth_param2sh2 = df_param2sh2.iloc[:,5]
Top_Width_param2sh2 = df_param2sh2.iloc[:,6]
Bot_Width_param2sh2 = df_param2sh2.iloc[:,8]

crossArea_param2sh2 = Depth_param2sh2 * (Top_Width_param2sh2 + Bot_Width_param2sh2)/2

# triangle_param2sh2 = np.ones([Depth_param2sh2.shape[0]])
# for i in range(Depth_param2sh2.shape[0]):
#     if But_Width_param2sh2[i] > 0:
#         triangle_param2sh2[i] = 0


# ratio_param2sh2= np.zeros([Depth_param2sh2.shape[0]])
# for i in range(Depth_param2sh2.shape[0]):
#     if Depth_param2sh2[i] == 0:
#         ratio_param2sh2[i] = 0
#     else :
#         ratio_param2sh2[i] = (Top_Width_param2sh2[i]-Bot_Width_param2sh2[i])/(2*Depth_param2sh2[i])


# Ang_param2sh2 = []
# for i in range(len(ratio_param2sh2)):
#     Ang_param2sh2.append(round(math.degrees(2 * np.arctan(ratio_param2sh2[i])),2))
    

if area == 1 :
    DATA_param2sh2 = np.c_[df_param2sh2.iloc[:,3], df_param2sh2.iloc[:,1],
                           df_param2sh2.iloc[:,0], df_param2sh2.iloc[:,2], 
                           df_param2sh2.iloc[:,4], df_param2sh2.iloc[:,5], 
                           crossArea_param2sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else: 
    DATA_param2sh2 = np.c_[df_param2sh2.iloc[:,3], df_param2sh2.iloc[:,1],
                           df_param2sh2.iloc[:,0], df_param2sh2.iloc[:,2],\
                           df_param2sh2.iloc[:,4], df_param2sh2.iloc[:,5], 
                           Top_Width_param2sh2, Bot_Width_param2sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']
    
dataframe_param2sh2 = pd.DataFrame(DATA_param2sh2, columns = column_names)
# ########## saving data
dataframe_param2 = pd.concat([dataframe_param2sh1, dataframe_param2sh2],\
                    axis = 0, ignore_index = True)
if area == 1 :
    dataframe_param2.to_csv(r'RawData/two_widths/Param2_cross_area.csv', header=True, index = False)
else:
    dataframe_param2.to_csv(r'RawData/two_widths/Param2_2width.csv', header=True, index = False)


dataframe_param2

Index(['amplitude (mm)', 'speed (mm/s)', 'pass', 'frequqncy (Hz)',
       'Focal_Position', 'cut depth (micro m)', 'cut width (micro m)', 'Angle',
       'U-Width'],
      dtype='object')
Index(['amplitude (mm)', 'speed (mm/s)', 'pass', 'frequqncy (Hz)',
       'Focal_Position', 'cut depth (micro m)', 'cut width (micro m)', 'Angle',
       'U-Width'],
      dtype='object')

   Frequency Speed Amplitude Passes Focal_Position   Depth Top_width Bot_width
0      800.0  20.0       0.1   10.0         92.438   89.76    255.01       0.0
1      800.0  20.0       0.2   10.0         92.438  304.18    213.89       0.0
2     1200.0  30.0       0.2   10.0         92.438  258.59    215.32       0.0
3     1600.0  40.0       0.2   10.0         92.438  221.04    207.72       0.0
4      800.0  20.0       0.3   10.0         92.438   323.5     304.6       0.0
5     1200.0  30.0       0.3   10.0         92.438  226.86    306.08     71.79
6     1600.0  40.0       0.3   10.0         92.438  164.42    299.26    119.04
7      800.0  20.0       0.4   10.0         92.438   265.8    399.72    144.61
8     1200.0  30.0       0.4   10.0         92.438  177.29    401.79     214.7
9     1600.0  40.0       0.4   10.0         92.438   131.8     395.0    244.85
10     800.0  20.0       0.5   10.0         92.438  226.86    532.92    283.92
11    1200.0  30.0       0.5   10.0         92.438  153.87    495.87    334.56
12    1600.0  40.0       0.5   10.0         92.438  117.76    490.62    345.72
13    1200.0  30.0       0.1   20.0         91.676   92.65    345.76    235.25
14    1600.0  40.0       0.1   20.0         91.676  122.93    271.77     79.73
15     800.0  20.0       0.2   20.0         91.676  171.66    349.93    116.91
16    1600.0  40.0       0.2   20.0         91.676    3.45    208.24     179.1
17     800.0  20.0       0.3   20.0         91.676  330.92    317.82       0.0
18    1200.0  30.0       0.3   20.0         91.676    4.93    407.37    217.34
19     800.0  20.0       0.4   20.0         91.676   39.91     400.4    283.59

In [10]:
"""After remeasuring width"""


xls_param3 = pd.ExcelFile('RawData/two_widths/ML3(UPDATED) (002).xlsx')
df_param3sh1 = pd.read_excel(xls_param3, 'Sheet1')
# print(df_param3sh1.keys())
df_param3sh1.dropna(how='any', axis=0, inplace =True)
df_param3sh1 = df_param3sh1.reset_index(drop=True)

Depth_param3sh1 = df_param3sh1.iloc[:,5].str.replace(',', '.').astype(float)
Top_Width_param3sh1 = df_param3sh1.iloc[:,6].str.replace(',', '.').astype(float)
Bot_Width_param3sh1 = df_param3sh1.iloc[:,8]

crossArea_param3sh1 = Depth_param3sh1 * (Top_Width_param3sh1 + Bot_Width_param3sh1)/2

# triangle_param3sh1 = np.ones([Depth_param3sh1.shape[0]])
# for i in range(Depth_param3sh1.shape[0]):
#     if But_Width_param3sh1[i] > 0:
#         triangle_param3sh1[i] = 0


# ratio_param3sh1 = (Top_Width_param3sh1 - Bot_Width_param3sh1)/(2*Depth_param3sh1)

# Ang_param3sh1 = []
# for i in range(len(ratio_param3sh1)):
#     Ang_param3sh1.append(round(math.degrees(2 * np.arctan(ratio_param3sh1[i])),2))
    
if area == 1 : 
    DATA_param3sh1 = np.c_[df_param3sh1.iloc[:,3], df_param3sh1.iloc[:,1],\
                           df_param3sh1.iloc[:,0], df_param3sh1.iloc[:,2],\
                           df_param3sh1.iloc[:,4], Depth_param3sh1, 
                           crossArea_param3sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else: 
    DATA_param3sh1 = np.c_[df_param3sh1.iloc[:,3], df_param3sh1.iloc[:,1],\
                           df_param3sh1.iloc[:,0], df_param3sh1.iloc[:,2],
                           df_param3sh1.iloc[:,4], Depth_param3sh1, 
                           Top_Width_param3sh1, Bot_Width_param3sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']

dataframe_param3sh1 = pd.DataFrame(DATA_param3sh1, columns = column_names)
# dataframe_21
########################
df_param3sh2 = pd.read_excel(xls_param3, 'Sheet2')
# print(df_param3sh2.keys())
df_param3sh2.dropna(how='any', axis=0, inplace =True)
df_param3sh2 = df_param3sh2.reset_index(drop=True)

Depth_param3sh2 = df_param3sh2.iloc[:,5].str.replace(',', '.').astype(float)
Top_Width_param3sh2 = df_param3sh2.iloc[:,6].str.replace(',', '.').astype(float)
Bot_Width_param3sh2 = df_param3sh2.iloc[:,8]

crossArea_param3sh2 = Depth_param3sh2 * (Top_Width_param3sh2 + Bot_Width_param3sh2)/2

# triangle_param3sh2 = np.ones([Depth_param3sh2.shape[0]])

# for i in range(Depth_param3sh2.shape[0]):
#     if But_Width_param3sh2[i] > 0:
#         triangle_param3sh2[i] = 0

# ratio_param3sh2 = (Top_Width_param3sh2-Bot_Width_param3sh2)/(2*Depth_param3sh2)

# Ang_param3sh2 = []
# for i in range(len(ratio_param3sh2)):
#     Ang_param3sh2.append(round(math.degrees(2 * np.arctan(ratio_param3sh2[i])),2))
    

if area == 1 : 
    DATA_param3sh2 = np.c_[df_param3sh2.iloc[:,3], df_param3sh2.iloc[:,1], 
                           df_param3sh2.iloc[:,0], df_param3sh2.iloc[:,2], 
                           df_param3sh2.iloc[:,4], Depth_param3sh2,
                           crossArea_param3sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else: 
    DATA_param3sh2 = np.c_[df_param3sh2.iloc[:,3], df_param3sh2.iloc[:,1], \
                           df_param3sh2.iloc[:,0], df_param3sh2.iloc[:,2],\
                           df_param3sh2.iloc[:,4], Depth_param3sh2,
                           Top_Width_param3sh2, Bot_Width_param3sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']
    
    
dataframe_param3sh2 = pd.DataFrame(DATA_param3sh2, columns = column_names)


################## concatenate and saving data
dataframe_param3 = pd.concat([dataframe_param3sh1, dataframe_param3sh2],\
                    axis = 0, ignore_index = True)

if area == 1 :  
    dataframe_param3.to_csv(r'RawData/two_widths/Param3_cross_area.csv', header=True, index = False)
else : 
    dataframe_param3.to_csv(r'RawData/two_widths/Param3_2width.csv', header=True, index = False)

dataframe_param3.shape

(25, 8)

In [24]:
"""After remeasuring width"""

xls_Sep24 = pd.ExcelFile('RawData/two_widths/ML4 (002).xlsx')

sh1_Sep24 = pd.read_excel(xls_Sep24, 'Sheet1')
# print(sh1_Sep24.keys())
sh1_Sep24.dropna(how='any', axis=0, inplace =True)
sh1_Sep24 = sh1_Sep24.reset_index(drop=True)

Depth_Sep24sh1 = sh1_Sep24.iloc[:,5].str.replace(',', '.').astype(float)
Top_Width_Sep24sh1 = sh1_Sep24.iloc[:,6].str.replace(',', '.').astype(float)
Bot_Width_Sep24sh1 = sh1_Sep24.iloc[:,8]

crossArea_Sep24sh1 = Depth_Sep24sh1 * (Top_Width_Sep24sh1 + Bot_Width_Sep24sh1)/2

# triangle_Sep24sh1 = np.ones([Depth_Sep24sh1.shape[0]])

# for i in range(Depth_Sep24sh1.shape[0]):
#     if But_Width_Sep24sh1[i] > 0:
#         triangle_Sep24sh1[i] = 0


# ratio_Sep24sh1 = (Top_Width_Sep24sh1 - Bot_Width_Sep24sh1)/(2*Depth_Sep24sh1)

# Ang_Sep24sh1 = []
# for i in range(len(ratio_Sep24sh1)):
#     Ang_Sep24sh1.append(round(math.degrees(2*np.arctan(ratio_Sep24sh1[i])),2))
    
    
if area == 1 :
    DATA_Sep24sh1 = np.c_[sh1_Sep24.iloc[:,3], sh1_Sep24.iloc[:,1],
                          sh1_Sep24.iloc[:,0], sh1_Sep24.iloc[:,2], 
                          sh1_Sep24.iloc[:,4], Depth_Sep24sh1, 
                          crossArea_Sep24sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else:
    DATA_Sep24sh1 = np.c_[sh1_Sep24.iloc[:,3], sh1_Sep24.iloc[:,1],
                          sh1_Sep24.iloc[:,0], sh1_Sep24.iloc[:,2],
                          sh1_Sep24.iloc[:,4], Depth_Sep24sh1, 
                          Top_Width_Sep24sh1, Bot_Width_Sep24sh1]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']

dataframe_Sep24sh1 = pd.DataFrame(DATA_Sep24sh1, columns = column_names)
# dataframe_Sep24sh1.shape
##################################################
sh2_Sep24 = pd.read_excel(xls_Sep24, 'Sheet2')
# print(sh2_Sep24.keys())

sh2_Sep24 = sh2_Sep24.drop(['Unnamed: 9' ], axis = 'columns')
sh2_Sep24.dropna(how='any', axis=0, inplace =True)
sh2_Sep24 = sh2_Sep24.reset_index(drop=True)

Depth_Sep24sh2 = sh2_Sep24.iloc[:,5].str.replace(',', '.').astype(float)
Top_Width_Sep24sh2 = sh2_Sep24.iloc[:,6].str.replace(',', '.').astype(float)
Bot_Width_Sep24sh2 = sh2_Sep24.iloc[:,8]

crossArea_Sep24sh2 = Depth_Sep24sh2 * (Top_Width_Sep24sh2 + Bot_Width_Sep24sh2)/2

# triangle_Sep24sh2 = np.ones([Depth_Sep24sh2.shape[0]])

# for i in range(Depth_Sep24sh2.shape[0]):
#     if But_Width_Sep24sh2[i] > 0:
#         triangle_Sep24sh2[i] = 0



# ratio_Sep24sh2= np.zeros([Depth_Sep24sh2.shape[0]])
# for i in range(Depth_Sep24sh2.shape[0]):
#     if Depth_Sep24sh2[i] == 0:
#         ratio_Sep24sh2[i] = 0
#     else :
#         ratio_Sep24sh2[i] = (Top_Width_Sep24sh2[i]-But_Width_Sep24sh2[i])/(2*Depth_Sep24sh2[i])

# Ang_Sep24sh2 = []
# for i in range(len(ratio_Sep24sh2)):
#     Ang_Sep24sh2.append(round(math.degrees(2*np.arctan(ratio_Sep24sh2[i])),2))
    

if area == 1 :
    DATA_Sep24sh2 = np.c_[sh2_Sep24.iloc[:,3], sh2_Sep24.iloc[:,1],
                          sh2_Sep24.iloc[:,0], sh2_Sep24.iloc[:,2],
                          sh2_Sep24.iloc[:,4], Depth_Sep24sh2,
                          crossArea_Sep24sh2]
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'CrossArea']
else:
    DATA_Sep24sh2 = np.c_[sh2_Sep24.iloc[:,3], sh2_Sep24.iloc[:,1],
                          sh2_Sep24.iloc[:,0], sh2_Sep24.iloc[:,2], 
                          sh2_Sep24.iloc[:,4], Depth_Sep24sh2, 
                          Top_Width_Sep24sh2, Bot_Width_Sep24sh2] 
    column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
    'Top_width', 'Bot_width']

dataframe_Sep24sh2 = pd.DataFrame(DATA_Sep24sh2, columns = column_names)
# dataframe_Sep24sh2.shape
# # #########----------------- saving data---------------------##############
df_Sep24 = pd.concat([dataframe_Sep24sh1, dataframe_Sep24sh2],\
                    axis = 0, ignore_index = True)

if area == 1 :
    df_Sep24.to_csv(r'RawData/two_widths/Param4_cross_area.csv', header=True, index = False)
else: 
    df_Sep24.to_csv(r'RawData/two_widths/Param4_2width.csv', header=True, index = False)
    
df_Sep24

,Frequency,Speed,Amplitude,Passes,Focal_Position,Depth,Top_width,Bot_width
0,200.0,5.0,0.1,15.0,92.819,348.1,1095.53,464.25
1,480.0,12.0,0.1,15.0,92.819,143.43,290.45,0.0
2,1000.0,25.0,0.1,15.0,92.819,238.31,265.36,0.0
3,200.0,5.0,0.4,15.0,92.819,182.18,583.84,147.53
4,200.0,5.0,0.8,15.0,92.819,573.91,776.83,454.88
5,480.0,12.0,0.8,15.0,92.819,461.36,773.21,419.71
6,1000.0,25.0,0.8,15.0,92.819,250.41,787.63,558.81
7,200.0,5.0,1,15.0,92.819,631.13,972.93,612.12
8,480.0,12.0,1,15.0,92.819,408.05,977.53,657.46
9,1000.0,25.0,1,15.0,92.819,212.55,981.48,759.85
10,200.0,5.0,1.2,15.0,92.819,662.28,1150.25,663.22
11,480.0,12.0,1.2,15.0,92.819,370.66,1165.55,879.52
12,1000.0,25.0,1.2,15.0,92.819,210.9,998.91,796.25
13,200.0,5,0.1,30.0,92.057,247.33,823.4,575.57
14,480.0,12,0.1,30.0,92.057,184.33,597.62,437.16
15,1000.0,25,0.1,30.0,92.057,78.46,372.28,280.87
16,200.0,5,0.4,30.0,92.057,563.77,735.25,240.41
17,480.0,12,0.4,30.0,92.057,594.35,406.58,0.0
18,1000.0,25,0.4,30.0,92.057,372.63,407.95,0.0
19,480.0,12,0.8,30.0,92.057,569.69,795.39,206.37
20,1000.0,25,0.8,30.0,92.057,206.52,794.92,499.38
21,200.0,5,1,30.0,92.057,1070.39,1002.3,138.95
22,480.0,12,1,30.0,92.057,455.52,1002.18,491.14
23,1000.0,25,1,30.0,92.057,177.03,995.09,725.41
24,200.0,5,1.2,30.0,92.057,1038.27,1179.56,193.51
25,480.0,12,1.2,30.0,92.057,388.15,1183.17,753.11
26,1000.0,25,1.2,30.0,92.057,214.92,1011.42,717.49

In [7]:
df_new = pd.read_excel('RawData/two_widths/Copy of New set of data.xlsx', header=1)

### 2
print(f'Feature orders before cleaning:\n {df_new.keys()}')

### 3
df_new.drop(df_new.index[df_new['Angle (deg)'] == 0], inplace = True)
df_new.drop(df_new.index[df_new['Depth (um)'] == 0], inplace = True)

df_new.dropna(how='any', axis=0, inplace =True)


DATA_Param0 = np.c_[df_new.iloc[:,3], df_new.iloc[:,2],
                      df_new.iloc[:,4], df_new.iloc[:,5], 
                      df_new.iloc[:,1], df_new.iloc[:,6], 
                      df_new.iloc[:,8], df_new.iloc[:,9]]
column_names = ['Frequency', 'Speed', 'Amplitude', 'Passes', 'Focal_Position', 'Depth',
'Top_width', 'Bot_width']



dataframe_param0 = pd.DataFrame(DATA_Param0, columns = column_names)
dataframe_param0.to_csv(r'RawData/two_widths/Param0_2width.csv', header=True, index = False)
dataframe_param0.shape

Feature orders before cleaning:
 Index(['Sample Name', 'Focal Position (mm)', 'Velocity (mm/s)',
       'Wobble Frequency (Hz)', 'Wobble Amplitude (mm)', 'Passes',
       'Depth (um)', 'Angle (deg)', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

(27, 8)

## Exp. tests

In [25]:
df1 = pd.read_excel('RawData/two_widths/TestData/Exp_Test/ML confirmed Trap 20.xlsx')
# df1 = pd.read_excel(xls1, 'Sheet1')
# print(df1.keys())
# df1.head()

df1 = df1.drop(['Unnamed: 10'], axis = 'columns')

df1.dropna(how='any', axis=0, inplace =True)    # if axis = 0 will drop the rows have NAN in 
                                                # if axis =1 will drop the col have NAN in
df1 = df1.reset_index(drop=True)
df1

,angle,Speed,Frequency,Amplitude,Passes,real passes,Focal_Position,Depth,Top_width,Bot_width,Measured Depth,Measured angle,Measured top width,Measured bottom width
0,19.35,22.433900,897.356,0.969,12.485,12,92.408,144.479,898.524,797.062,133.50,43.90,923.69,799.97
1,21.43,25.435350,1017.414,0.911,15.561,16,92.378,184.781,855.286,710.222,159.19,46.91,879.89,719.96
2,18.50,36.231900,1449.276,0.810,12.569,13,92.998,186.743,682.958,557.991,184.62,49.42,790.54,607.15
3,21.97,39.930325,1597.213,0.546,12.534,13,92.882,171.833,520.445,381.813,152.77,46.19,525.75,375.56
4,19.18,29.260225,1170.409,0.537,14.412,14,92.208,175.676,515.187,392.951,182.63,46.04,527.53,354.11
5,21.49,31.106675,1244.267,0.473,14.457,14,92.237,172.318,444.081,308.388,188.15,45.69,465.81,290.48
6,18.44,27.277500,1091.100,0.613,13.016,13,92.340,194.212,556.814,427.304,201.16,45.30,599.68,415.32

In [26]:
df2 = pd.read_excel('RawData/two_widths/TestData/Exp_Test/ML confirmed triangle 30.xlsx')


df2 = df2.drop(['Unnamed: 9'], axis = 'columns')

df2.dropna(how='any', axis=0, inplace =True)    # if axis = 0 will drop the rows have NAN in 
                                                # if axis =1 will drop the col have NAN in
df2 = df2.reset_index(drop=True)
df2

,angle,Speed,Frequency,Amplitude,Passes,Focal_Position,Depth,Top_width,Bot_width,Measured Depth,Measured angle,Measured top width,Measured bottom width
0,29.92,12.79725,511.89,0.206,16.625,91.945,246.296,292.666,9.167,252.36,14.77,220.65,155.64

In [27]:
df3 = pd.read_excel('RawData/two_widths/TestData/Exp_Test/ML confirmed triangle 35.xlsx')


df3 = df3.drop(['Unnamed: 9'], axis = 'columns')

df3.dropna(how='any', axis=0, inplace =True)    # if axis = 0 will drop the rows have NAN in 
                                                # if axis =1 will drop the col have NAN in
df3 = df3.reset_index(drop=True)
df3

,angle,Speed,Frequency,Amplitude,Passes,Focal_Position,Depth,Top_width,Bot_width,Measured Depth,Measured angle,Measured top width,Measured bottom width
0,36.16,18.345050,733.802,0.166,13.153,92.179,183.895,269.022,0.234,204.57,22.59,172.45,77.99
1,40.89,19.372925,774.917,0.111,12.723,93.200,150.938,270.796,9.392,154.16,19.82,183.46,62.63

In [36]:
df_t = pd.concat([df1, df2, df3], axis = 0, ignore_index = True)
df_t['real passes'] = df_t['Passes'].values.round()

df_t.to_csv(r'RawData/two_widths/TestData/Exp_Test/ExpTest_Nov2021.csv', header=True, index = False)

## Tried combinations for NN pred

In [2]:
df1_all = pd.read_excel('RawData/two_widths/TestData/Exp_Test/AllTests/ML confirmed Trap 20_all.xlsx')
print(df1_all.keys())
df1_all = df1_all.drop(['angle','real passes','Depth','Top_width','Bot_width',
                'Unnamed: 10', 'Measured angle'], axis = 'columns')
df1_all.dropna(how='any', axis=0, inplace =True)
df1_all.Passes = df1_all.Passes.round()

df1_all = df1_all.reset_index(drop=True)



df1_all

Index(['angle', 'Speed', 'Frequency', 'Amplitude', 'Passes', 'real passes',
       'Focal_Position', 'Depth', 'Top_width', 'Bot_width', 'Unnamed: 10',
       'Measured Depth', 'Measured angle', 'Measured top width',
       'Measured bottom width'],
      dtype='object')

,Speed,Frequency,Amplitude,Passes,Focal_Position,Measured Depth,Measured top width,Measured bottom width
0,10.283975,411.359,0.614,19.0,91.701,600.71,606.86,162.33
1,22.433900,897.356,0.969,12.0,92.408,133.50,923.69,799.97
2,31.955775,1278.231,0.894,16.0,92.012,119.07,855.72,736.87
3,38.521675,1540.867,0.292,14.0,92.259,226.48,316.55,113.62
4,36.388775,1455.551,0.600,13.0,92.740,124.73,587.40,448.31
5,29.510600,1180.424,0.681,14.0,92.463,145.70,661.81,513.75
6,27.201250,1088.050,0.829,12.0,92.592,127.03,803.60,669.49
7,25.435350,1017.414,0.911,16.0,92.378,159.19,879.89,719.96
8,37.125175,1485.007,0.740,12.0,93.172,115.73,718.29,598.79
9,36.231900,1449.276,0.810,13.0,92.998,184.62,790.54,607.15
10,25.867150,1034.686,0.700,14.0,92.380,170.67,681.28,520.28
11,39.930325,1597.213,0.546,13.0,92.882,152.77,525.75,375.56
12,33.937025,1357.481,0.790,13.0,93.087,118.17,761.92,638.92
13,20.750075,830.003,0.639,19.0,92.023,279.97,625.89,377.33
14,39.642350,1585.694,0.848,14.0,92.409,101.24,811.20,703.14
15,39.952400,1598.096,0.597,13.0,93.187,119.38,577.74,451.78
16,29.260225,1170.409,0.537,14.0,92.208,182.63,527.53,354.11
17,31.106675,1244.267,0.473,14.0,92.237,188.15,465.81,290.48
18,39.886350,1595.454,0.378,14.0,92.538,306.96,363.87,104.75
19,10.099750,403.990,0.546,20.0,91.676,563.10,542.05,76.50
20,28.165700,1126.628,0.733,13.0,92.417,150.53,719.79,571.08
21,25.298875,1011.955,0.888,13.0,92.464,146.49,860.54,721.97
22,27.277500,1091.100,0.613,13.0,92.340,201.16,599.68,415.32
23,22.204325,888.173,0.371,16.0,92.029,327.82,369.06,77.55

In [3]:
df1_all = df1_all.rename(columns={'Measured Depth':'Measured_Depth',
                                  'Measured top width' : 'Measured_top_width',
                                  'Measured bottom width' : 'Measured_bottom_width'
                                  })

df1_all.to_csv(r'RawData/two_widths/TestData/Exp_Test/TrapTest_Nov2021.csv', header=True, index = False)

In [8]:
df2_all = pd.read_excel('RawData/two_widths/TestData/Exp_Test/AllTests/ML confirmed triangle 30_all.xlsx')
# df2_all.keys()
df2_all = df2_all.drop(['angle','Depth','Top_width','Bot_width',
                'Unnamed: 9', 'Measured angle'], axis = 'columns')

df2_all.Passes = df2_all.Passes.round()


df2_all.dropna(how='any', axis=0, inplace =True)    # if axis = 0 will drop the rows have NAN in 
#                                                 # if axis =1 will drop the col have NAN in
df2_all = df2_all.reset_index(drop=True)
df2_all

,Speed,Frequency,Amplitude,Passes,Focal_Position,Measured Depth,Measured top width,Measured bottom width
0,37.152800,1486.112,0.201,19.0,92.040,324.02,208.97,0.00
1,19.877200,795.088,0.164,13.0,93.200,386.97,180.76,42.24
2,12.797250,511.890,0.206,17.0,91.945,252.36,220.65,155.64
3,20.208500,808.340,0.176,12.0,93.199,438.70,169.64,2.30
4,19.136400,765.456,0.110,14.0,93.169,456.73,135.44,32.94
5,15.930650,637.226,0.203,16.0,92.027,279.21,195.78,61.67
6,18.964175,758.567,0.106,12.0,93.200,137.91,229.93,75.46
7,21.538200,861.528,0.463,26.0,92.201,535.79,454.34,10.73

In [9]:
df3_all = pd.read_excel('RawData/two_widths/TestData/Exp_Test/AllTests/ML confirmed triangle 35_all.xlsx')
df3_all.keys()
df3_all = df3_all.drop(['angle','Depth','Top_width','Bot_width'
                ,'Unnamed: 9', 'Measured angle'], axis = 'columns')

df3_all.Passes = df3_all.Passes.round()


df3_all.dropna(how='any', axis=0, inplace =True)    # if axis = 0 will drop the rows have NAN in 
                                                # if axis =1 will drop the col have NAN in
df3_all = df3_all.reset_index(drop=True)
df3_all

,Speed,Frequency,Amplitude,Passes,Focal_Position,Measured Depth,Measured top width,Measured bottom width
0,20.123250,804.930,0.133,12.0,93.183,431.74,151.44,25.04
1,20.170800,806.832,0.111,11.0,93.129,124.39,177.50,72.30
2,18.345050,733.802,0.166,13.0,92.179,204.57,172.45,77.99
3,19.649800,785.992,0.116,12.0,93.196,414.35,148.11,28.24
4,18.778150,751.126,0.108,13.0,93.200,437.22,138.81,16.06
5,37.499450,1499.978,0.089,13.0,93.053,323.91,110.73,27.58
6,18.650875,746.035,0.084,11.0,93.092,32.54,253.57,110.99
7,26.753350,1070.134,0.148,13.0,92.349,308.25,159.22,25.97
8,19.118125,764.725,0.172,17.0,92.336,271.38,179.60,78.11
9,19.372925,774.917,0.111,13.0,93.200,154.16,183.46,62.63
10,19.887450,795.498,0.126,27.0,93.200,593.98,150.49,0.00
11,18.851225,754.049,0.097,16.0,93.200,31.84,312.12,266.55
12,19.927625,797.105,0.136,12.0,93.199,390.84,152.21,30.13
13,20.011375,800.455,0.131,12.0,93.195,372.90,176.13,58.00
14,21.184350,847.374,0.114,11.0,92.637,389.41,144.45,31.45
15,18.882300,755.292,0.080,12.0,93.161,75.49,186.44,41.95
16,18.051225,722.049,0.149,13.0,92.214,193.84,187.31,70.08
17,19.176025,767.041,0.083,12.0,93.184,61.84,235.83,96.01
18,17.632475,705.299,0.108,11.0,93.117,70.43,303.28,83.24
19,18.795625,751.825,0.079,14.0,93.159,67.55,296.50,0.00

In [10]:
df_test = pd.concat([df1_all, df2_all, df3_all], axis = 0, ignore_index = True)

df_test = df_test.rename(columns={'Measured Depth':'Measured_Depth',
                                  'Measured top width' : 'Measured_top_width',
                                  'Measured bottom width' : 'Measured_bottom_width'
                                  })

df_test.to_csv(r'RawData/two_widths/TestData/Exp_Test/AllTest_Nov2021.csv', header=True, index = False)